.registro {
    display: flex;
}

.nomes {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 5px;
    gap: 16px;
}

.nomes p {
    margin: 0px;
}

.inputsStatus {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 5px;
}

.inputsStatus input {
    margin: 0px;
    margin-bottom: 3px;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 5px;
}

.ficha {
    margin: 0px;
    border: solid 1px;
    padding: 15px; 
}

.ficha h1 {
    margin-top: 0px;
    cursor: pointer;
}

.ficha p {
    margin: 5px;
}

.imagemIdenticicar {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.statusItem {
    display: flex;
    justify-content: space-between;
    border: 1px dashed #eee;
    width: 100%;
    gap: 10px;
} 

#fileImagem{
    display: none;
}

.button{
  background-color: rgb(70, 70, 70);
  color: #ddd;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 4px; 
  font-family: Arial, sans-serif;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.button:hover{
    background-color: rgb(50, 50, 50);
}

.button:active{
    background-color: green;
}