.habilidade-item {
  margin-bottom: 20px;
  border: 1px solid; 
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  padding-right: 15px;
  
}

.habilidade-item h1 {
  display: flex; 
  font-size: 1.2em; 
  white-space: nowrap;
  align-items: center;
  padding: 10px;
  background-color: #444444;
  height: 100%;
  border-radius: 8px;
  border: solid 1px;
  box-sizing: border-box;
  margin-right: 15px
  ;
}

.habilidade-item p {
  margin: auto;
  line-height: 1.5; 
  /* background-color: aqua; */
}

#pesquisa{
  display: flex;
  justify-content: center;
}

#pesquisa p{
  margin: 0;
}